// Your application styles go here

.profit-positive{
  color: #fa041c;
}

.profit-negative{
  color: #55be00;
}

.toRight{
  float: right;
}

.chart {
 width: 100%;
 height: 200px;
}

.bar-style-1{
  background-color: rgba(213, 25, 25, 0.75);
  color: white;
}

.bar-button-style-1{
  color: white;
  font-size: 3px;
}

.table-header{
  height: 50px;
}

.secondary-font{
  font-size: 75%;
}

.row + .row {
  margin-top: -5px;
  padding: 5px;
}
