<ion-view view-title="{{fundProfit.name}} {{fundProfit.code}}">
  <ion-content class="padding">
    <div class="row">
      <!-- <div class="col col-10 col-center">
        <p>Earning</p>
      </div> -->
      <div class="col col-67 col-center">
        <p>Profit</p>
        <h4 ng-class="{true:'profit-positive', false:'profit-negative'}[fundProfit.amount>=0]">{{fundProfit.amount}} {{fundProfit.currency}}</h4>
      </div>
      <div class="col col-33 col-center">
        <p>Profitability</p>
        <h4 ng-class="{true:'profit-positive', false:'profit-negative'}[fundProfit.amount>=0]">{{fundProfit.profitability}}%</h4>
      </div>
    </div>
    <div class="list">
      <div class="item">
        <div class="row">
          <div class="col col-33">
            <p>Date</p>
          </div>
          <div class="col">
            {{fundProfit.date}}
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col col-33">
            <p>Quantity</p>
          </div>
          <div class="col">
            {{fundProfit.quantity}}
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <p>Buy Price</p>
          </div>
          <div class="col">
            {{fundProfit.buyPrice}}
          </div>
          <div class="col">
            <p>Sell Price</p>
          </div>
          <div class="col">
            {{fundProfit.sellPrice}}
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <p>Buy Fee</p>
          </div>
          <div class="col">
            {{fundProfit.buyTransactionFee}}
          </div>
          <div class="col">
            <p>Sell Fee</p>
          </div>
          <div class="col">
            {{fundProfit.sellTransactionFee}}
          </div>
        </div>
      </div>
      <div class="item">
        <div class="row">
          <div class="col">
            <p>Buy Consideration</p>
          </div>
          <div class="col">
            {{fundProfit.buyConsideration}}
          </div>
          <div class="col">
            <p>Sell Consideration</p>
          </div>
          <div class="col">
            {{fundProfit.sellConsideration}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-center">
        <button class="button button-assertive button-outline button-block ion-trash-a" ng-click="confirmDelete(fundProfit)">Delete </button>
      </div>
      <div class="col col-center">
        <button class="button button-positive button-outline button-block ion-edit" ng-click="edit(fundProfit)">Edit</button>
      </div>
    </div>
  </ion-content>
</ion-view>
