<ion-view view-title="Fund Profit">
  <ion-content>
    <div class="card">
      <form name="createForm" role="form" novalidate show-validation>
        <label class="item item-input">
          <input type="text" placeholder="Fund Code" ng-model="fundProfit.code" required>
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Fund Name" ng-model="fundProfit.name" required>
        </label>
        <label class="item item-input">
          <input type="date" placeholder="Date" ng-model="fundProfit.date" required>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">Currency</div>
          <select ng-model="fundProfit.currency" required>
            <option value="HKD" selected>HKD</option>
            <option value="CNY">CNY</option>
          </select>
        </label>
        <label class="item item-input">
          <input name="buyPrice" type="number" placeholder="Quantity" ng-model="fundProfit.quantity" required>
        </label>
        <div ng-show="createForm.buyPrice.$invalid">
          <p class="help-block" ng-show="createForm.buyPrice.$error.number">
            This field should be a number.
          </p>
        </div>
        <label class="item item-input">
          <input type="number" placeholder="Buy Price" ng-model="fundProfit.buyPrice" required>
        </label>
        <label class="item item-input">
          <input type="number" placeholder="Buy Fee" ng-model="fundProfit.buyTransactionFee" required>
        </label>
        <label class="item item-input">
          <input type="number" placeholder="Sell Price" ng-model="fundProfit.sellPrice" required>
        </label>
        <label class="item item-input">
          <input type="number" placeholder="Sell Fee" ng-model="fundProfit.sellTransactionFee" required>
        </label>
      </form>
    </div>
    <div class="padding">
      <button class="button button-balanced button-block" ng-click="create(fundProfit)">Save</button>
    </div>
  </ion-content>
</ion-view>
