<ion-view view-title="Fund Profit">
  <ion-content>
    <div class="card">
      <form name="createForm" role="form" novalidate show-validation>
        <label class="item item-input">
          <span class="input-label">Fund Code</span>
          <input type="text" ng-model="fundProfit.code" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Fund Name</span>
          <input type="text" ng-model="fundProfit.name" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date" ng-model="fundProfit.date" required>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Currency</span>
          <select ng-model="fundProfit.currency" required>
            <option value="HKD" selected>HKD</option>
            <option value="CNY">CNY</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Buy Consideration</span>
          <input type="number" ng-model="fundProfit.buyConsideration" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Buy Fee</span>
          <input type="number" ng-model="fundProfit.buyTransactionFee" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Sell Consideration</span>
          <input type="number" ng-model="fundProfit.sellConsideration" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Sell Fee</span>
          <input type="number" ng-model="fundProfit.sellTransactionFee" required>
        </label>
        <ion-toggle  ng-model="fundProfit.calculateProfit">
            Calculate Profit
        </ion-toggle>
        <!-- <lable class="item item-toggle">
          <span class="input-lable">Included in Book</span>
          <input type="checkbox">
        </lable> -->
      </form>
    </div>
    <div class="padding">
      <button class="button button-balanced button-block" ng-click="create(fundProfit)">Save</button>
    </div>
  </ion-content>
</ion-view>
