<ion-view view-title="Stock Profit">
  <ion-content>
    <div class="card">
      <form name="createForm" role="form" novalidate show-validation>
        <label class="item item-input">
          <span class="input-label">Stock Code</span>
          <input type="text" ng-model="stockProfit.code" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Stock Name</span>
          <input type="text" ng-model="stockProfit.name" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Date</span>
          <input type="date" ng-model="stockProfit.date" required>
        </label>
        <label class="item item-input item-select">
          <span class="input-label">Currency</span>
          <select ng-model="stockProfit.currency" required>
            <option value="HKD" selected>HKD</option>
            <option value="CNY">CNY</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Quantity</span>
          <input name="quantity" type="number" ng-model="stockProfit.quantity" required>
        </label>
        <div ng-show="createForm.buyPrice.$invalid">
          <p class="help-block" ng-show="createForm.buyPrice.$error.number">
            This field should be a number.
          </p>
        </div>
        <label class="item item-input">
          <span class="input-label">Buy Price</span>
          <input type="number" ng-model="stockProfit.buyPrice" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Buy Fee</span>
          <input type="number" ng-model="stockProfit.buyTransactionFee" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Sell Price</span>
          <input type="number" ng-model="stockProfit.sellPrice" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Sell Fee</span>
          <input type="number" ng-model="stockProfit.sellTransactionFee" required>
        </label>
      </form>
    </div>
    <div class="padding">
      <button class="button button-balanced button-block" ng-click="create(stockProfit)">Save</button>
    </div>
  </ion-content>
</ion-view>
