<ion-view view-title="Earnings Book">
  <ion-content class="padding">
    <ion-slide-box>
      <ion-slide>
        <div class="list card">
          <div class="item item-divider">
            <span>CNY Total Profits</span>
            <span class="toRight" ng-class="{true:'profit-positive', false:'profit-negative'}[allEarnings.cnyEarnings>=0]">{{allEarnings.cnyEarnings}}</span>
          </div>
          <div class="item item-body">
            <div ac-chart="'pie'" ac-data="cnyData" ac-config="config" id="cnyChart" class="chart"></div>
            <div>
              <div>Stock Profit
                <span ng-class="{true:'profit-positive', false:'profit-negative'}[allEarnings.cnyStockEarnings>=0]">{{allEarnings.cnyStockEarnings}}</span>
              </div>
              <div>Fund Profit
                <span ng-class="{true:'profit-positive', false:'profit-negative'}[allEarnings.cnyFundEarnings>=0]">{{allEarnings.cnyFundEarnings}}</span>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="list card">
          <div class="item item-divider">
            <span>HKD Total Profits</span>
            <span class="toRight" ng-class="{true:'profit-positive', false:'profit-negative'}[allEarnings.hkdEarnings>=0]">{{allEarnings.hkdEarnings}}</span>
          </div>
          <div class="item item-body">
            <div ac-chart="'pie'" ac-data="hkdData" ac-config="config" id="chart" class="chart"></div>
            <div>
              <div>Stock Profit
                <span ng-class="{true:'profit-positive', false:'profit-negative'}[allEarnings.hkdStockEarnings>=0]">{{allEarnings.hkdStockEarnings}}</span>
              </div>
              <div>Fund Profit
                <span ng-class="{true:'profit-positive', false:'profit-negative'}[allEarnings.hkdFundEarnings>=0]">{{allEarnings.hkdFundEarnings}}</span>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
