<ion-view view-title="Fund Profits">
  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-plus-round bar-button-style-1" ng-click="createAction()"></a>
    <!-- <button class="button ion-plus-round" ng-click="createAction()"></button> -->
  </ion-nav-buttons>
  <ion-content>
    <div class="item item-divider table-header">
      <div class="row">
        <div class="col">Fund</div>
        <div class="col text-center">Date</div>
        <div class="col text-right">Profit</div>
      </div>
    </div>
    <ion-list>
      <ion-item collection-repeat="fundProfit in fundProfits" href="#/tab/fundProfits/{{fundProfit.id}}" item-height="70">
        <div class="row">
          <div class="col col-50">
            <h4 class="strong">{{fundProfit.name}}</h4>
            <h5>{{fundProfit.code}}</h5>
            <!-- <p></p> -->
          </div>
          <div class="col col-25 text-center">
            <h4>{{fundProfit.date | date: 'yyyy-MM-dd'}}</h4>
          </div>
          <div class="col col-25 text-right">
            <h4 ng-class="{true:'profit-positive', false:'profit-negative'}[fundProfit.amount>=0]">{{fundProfit.amount}}</h4>
            <h5 ng-class="{true:'profit-positive', false:'profit-negative'}[fundProfit.amount>=0]">{{fundProfit.profitability}}%</h5>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
