<ion-view view-title="Earnings Book">
  <ion-content class="padding">
    <ion-slide-box>
      <ion-slide>
        <div class="list card">
          <div class="item item-divider">
            <span>CNY Total Profits</span>
            <span class="toRight" ng-class="{true:'profit-positive', false:'profit-negative'}[profitSummary.cnyProfits>=0]">{{profitSummary.cnyProfits}}</span>
          </div>
          <div class="item item-body">
            <div ac-chart="'pie'" ac-data="cnyData" ac-config="config" id="cnyChart" class="chart"></div>
            <div>
              <div>Stock Profit
                <span ng-class="{true:'profit-positive', false:'profit-negative'}[profitSummary.cnyStockProfits>=0]">{{profitSummary.cnyStockProfits}}</span>
              </div>
              <div>Fund Profit
                <span ng-class="{true:'profit-positive', false:'profit-negative'}[profitSummary.cnyFundProfits>=0]">{{profitSummary.cnyFundProfits}}</span>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="list card">
          <div class="item item-divider">
            <span>HKD Total Profits</span>
            <span class="toRight" ng-class="{true:'profit-positive', false:'profit-negative'}[profitSummary.hkdProfits>=0]">{{profitSummary.hkdProfits}}</span>
          </div>
          <div class="item item-body">
            <div ac-chart="'pie'" ac-data="hkdData" ac-config="config" id="chart" class="chart"></div>
            <div>
              <div>Stock Profit
                <span ng-class="{true:'profit-positive', false:'profit-negative'}[profitSummary.hkdStockProfits>=0]">{{profitSummary.hkdStockProfits}}</span>
              </div>
              <div>Fund Profit
                <span ng-class="{true:'profit-positive', false:'profit-negative'}[profitSummary.hkdFundProfits>=0]">{{profitSummary.hkdFundProfits}}</span>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
