<ion-view view-title="Fund Profits">
  <ion-nav-buttons side="secondary">
    <a class="button button-icon icon ion-plus-round bar-button-style-1" ng-click="createAction()"></a>
    <!-- <button class="button ion-plus-round" ng-click="createAction()"></button> -->
  </ion-nav-buttons>
  <ion-content>
    <div class="item item-divider table-header">
      <div class="row">
        <div class="col">Fund</div>
        <div class="col text-center">Date</div>
        <div class="col text-center">Profit</div>
      </div>
    </div>
    <div class="list">
      <a class="row item" collection-repeat="fundProfit in fundProfits" href="#/tab/fundProfits/{{fundProfit.id}}">
          <div class="col">
            <h4>{{fundProfit.name}}</h4>
            <span class="secondary-font">{{fundProfit.code}}</span>
          </div>
          <div class="col col-center text-center">
            <h4>{{fundProfit.date | date: 'yyyy-MM-dd'}}</h4>
          </div>
          <div class="col text-center">
            <h3 ng-class="{true:'profit-positive', false:'profit-negative'}[fundProfit.amount>=0]">${{fundProfit.amount}}</h3>
            <span class="secondary-font" ng-class="{true:'profit-positive', false:'profit-negative'}[fundProfit.amount>=0]">{{fundProfit.profitability}}%</span>
          </div>
      </a>
    </div>
  </ion-content>
</ion-view>
