<ion-view view-title="Earnings Book">
  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="create()">Add</button>
  </ion-nav-buttons>
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">
        <span>CNY Total Profits</span>
        <span class="profit-positive toRight">1302</span>
      </div>
      <div class="item item-body">
        <div>
          <div>Stock Profit</div>
          <div>Fund Profit</div>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">
        <span>HKD Total Profits</span>
        <span class="profit-positive toRight">5990</span>
      </div>
      <div class="item item-body">
        <div>
          <div>Stock Profit</div>
          <div>Fund Profit</div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
